@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,300&display=swap");
/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e8e8e8;
  border: 15px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #f76a6a;
}
::-webkit-scrollbar-track {
  background: #ff8585;
  border: 15px none #ffffff;
  border-radius: 58px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

body {
	background: linear-gradient(45deg, #FC466B, #3F5EFB);
	font-family: "poppins", sans-serif;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
 


  /*---------------------------------------------*/
  
  input {
    outline: none;
    border: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  input::-webkit-input-placeholder {
    color: #4b2354;
  }
  
  input:-moz-placeholder {
    color: #4b2354;
  }
  
  input::-moz-placeholder {
    color: #4b2354;
  }
  
  input:-ms-input-placeholder {
    color: #4b2354;
  }
  
  textarea::-webkit-input-placeholder {
    color: #4b2354;
  }
  
  textarea:-moz-placeholder {
    color: #4b2354;
  }
  
  textarea::-moz-placeholder {
    color: #4b2354;
  }
  
  textarea:-ms-input-placeholder {
    color: #4b2354;
  }
  
  /*---------------------------------------------*/
  
  button {
    outline: none !important;
    border: none;
    background: transparent;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  iframe {
    border: none !important;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/
  .warning{
      font-size: 14px;
  }
  .txt1 {
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.4;
    color: #999999;
  }
  
  .txt2 {
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.4;
    color: #4b2354;
  }
  
  .hov1:hover {
    color: #4b2354;
    text-decoration: underline;
  }
  

/*---------------------------------------
    Header              
-----------------------------------------*/
.navbar-toggler:focus {
	outline: none;
}

.navbar-brand {
	font-weight: 700;
	display: block;
	text-decoration: none;
}

#header .navbar-brand span {
	color: rgb(214, 48, 49);
}

ul {
	list-style-type: none;
}

.navbar-toggler span {
	background: rgb(10, 10, 10);
	width: 30px;
	height: 3px;
	display: flex;
	transition: 0.5s all cubic-bezier(0.23, 1.23, 0.59, 1.32);
}

.navbar-toggler span:first-child {
	transform: translateY(-5px);
}
.navbar-toggler.active span:first-child {
	transform: rotate(-45deg);
	background: rgb(214, 48, 49);
}

.navbar-toggler span:last-child {
	transform: translateY(5px);
}
.navbar-toggler.active span:last-child {
	transform: rotate(45deg);
	background: rgb(214, 48, 49);
}

.navbar-toggler.active span:nth-child(2) {
	opacity: 0;
}

.dropdown .dropdown-menu a{
	color: rgb(0, 0, 0) !important;
}


.navbar {
	transition: 0.4s;
	padding: 1rem 1rem;
	min-height: 12vh;
}
.navbar a {
  color: rgb(255, 255, 255);
  font-family: poppins;
}

.navbar .navbar-nav a:hover {
	color: rgb(214, 48, 49);
	font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link {
	display: inline-block;
	padding: 0 15px;
	font-size: 14px;
	font-family: montserrat;
	font-weight: 700;
}

.navbar-nav .btn {
	color: rgb(255, 255, 255) !important;
	background: rgb(214, 48, 49);
	border-radius: 0;
	border: none;
	padding: 5px 20px;
	transition: 0.2s;
}

.navbar-nav .btn:hover {
	background: rgb(24, 24, 24);
	font-weight: 600;
	letter-spacing: 1px;
}

.fa-shopping-bag:hover {
	transform: scale(1.5);
	transition: 0.2s;
}
/* scroll */

.scrollbar a {
	color: rgb(10, 10, 10) !important;
}
.scrollbar a:hover {
	color: rgb(214, 48, 49) !important;
}



/*---------------------------------------
    footer              
-----------------------------------------*/

#footer {
	background: linear-gradient(to left,#0797FF,#4F95FF);
	padding: 20px 2px;
	color: #6d6d6d;
	font-size: 12px;
	text-align: center;
}

#footer .glassmorph{
	background: rgb(255, 255, 255);
	border-radius: 10px;
	margin-top: 80px;
	margin: 0 30px;
}

footer .section-title {
	padding-bottom: 10px;
}

footer h2 {
	font-size: 20px;
}

footer a,
footer p {
	color: #000000;
}

footer strong {
	color: #d9d9d9;
}

footer address p {
	margin-bottom: 0;
}

.footer-info,
footer .social-icon {
	margin-top: 20px;
	padding-bottom: 20px !important;
}
.footer-open-hour h2 {
	color: #ffffff;
}

.footer-open-hour p {
	color: #ffffff;
}

.footer-open-hour strong {
	color: #f9f9f9;
}

.footer-open-hour {
	background: #ce3232;
	background: url("/images/footer_image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	margin-top: 0;
	padding: 4px 0 4px 8px;
	overflow: hidden;
	position: relative;
	z-index: 22;
	right: 20px;
}

.footer-open-hour::after {
	background: rgba(29, 29, 29, 0.85);
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2222;
}

.copyright-text p{
	font-size: 12px;
	color: rgb(0, 0, 0) !important;
}
.social-icon{
	font-size: 13px;
}

  /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  
  .container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }
  
  .container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba( 255, 255, 255, 0.10 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
  
    pointer-events: none;
  }
  
  .wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  /*==================================================================
  [ Form ]*/
  
  .login100-form {
    width: 100%;
  }
  
  .login100-form-title {
    display: block;
    font-family: SourceSansPro-Bold;
    font-size: 30px;
    color: #4b2354;
    line-height: 1.2;
    text-align: center;
  }
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
  .wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
  }
  
  .input100 {
    font-family: SourceSansPro-Bold;
    font-size: 16px;
    color: #4b2354;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 62px;
    background: transparent;
    padding: 0 20px 0 23px;
  }
  
  /*------------------------------------------------------------------
  [ Focus Input ]*/
  
  .focus-input100 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 20px;
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus+.focus-input100 {
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  
  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #bd59d4;
    border-radius: 25px;
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  }
  
  .login100-form-btn:hover {
    background-color: #4b2354;
    box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
    -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
    -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
    -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
    -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  }
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate .focus-input100 {
    box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
    -moz-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
    -webkit-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
    -o-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
    -ms-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 62px;
    background-color: #fff;
    border-radius: 20px;
    top: 0px;
    left: 0px;
    padding: 0 45px 0 22px;
    pointer-events: none;
    font-family: SourceSansPro-Bold;
    font-size: 16px;
    color: #fa4251;
    line-height: 1.2;
  }
  
  .btn-hide-validate {
    font-family: Material-Design-Iconic-Font;
    font-size: 15px;
    color: #fa4251;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 62px;
    top: 0px;
    right: 23px;
  }
  
  .rs1-alert-validate.alert-validate::before {
    background-color: #fff;
  }
  
  .true-validate::after {
    content: "\f269";
    font-family: Material-Design-Iconic-Font;
    font-size: 15px;
    color: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 62px;
    top: 0px;
    right: 23px;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Social item ]*/
  
  .login100-social-item {
    font-size: 25px;
    color: #3b5998;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  .login100-social-item img {
    width: 26px;
  }
  
  .login100-social-item:hover {
    color: #3b5998;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Responsive ]*/
  
  @media (max-width: 480px) {
    .wrap-login100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  

  
/*---------------------------------------
    Responsive              
-----------------------------------------*/
@media (max-width: 768px) {
	
	.navbar .navbar-nav {
		align-items: center;
	}
	.navbar-toggler {
		color: rgb(155, 137, 137);
	}
	.navbar .navbar-nav .nav-link {
		padding: 8px 0;
	}
	.navbar .navbarright .nav-link {
		padding: 15px;
	}
	.navbar {
		background: white;
	}
	.navbar a {
		color: rgb(19, 19, 19);
	}
}