@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,300&display=swap");
html{
	scroll-behavior: smooth;
	cursor: url(https://cdn.custom-cursor.com/db/6392/32/coca-cola-cursor.png) , auto!important;
	
}
body {
	background: rgb(255, 255, 255);
	font-family: "poppins", sans-serif;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: rgb(24, 24, 24);
	font-weight: 500;
	transition: 0.2s;
}

a:hover {
	color: rgb(214, 48, 49);
	cursor: url(https://cdn.custom-cursor.com/db/6623/32/food-and-drinks-lasagna-pointer.png) , pointer!important

}

/*---------------------------------------
    Header              
-----------------------------------------*/


.navbar-toggler:focus {
	outline: none;
}

.navbar-brand {
	font-weight: 700;
	display: block;
	text-decoration: none;
}

#header .navbar-brand span {
	color: rgb(214, 48, 49);
}

ul {
	list-style-type: none;
}

.navbar-toggler span {
	background: rgb(10, 10, 10);
	width: 30px;
	height: 3px;
	display: flex;
	transition: 0.5s all cubic-bezier(0.23, 1.23, 0.59, 1.32);
}

.navbar-toggler span:first-child {
	transform: translateY(-5px);
}
.navbar-toggler.active span:first-child {
	transform: rotate(-45deg);
	background: rgb(214, 48, 49);
}

.navbar-toggler span:last-child {
	transform: translateY(5px);
}
.navbar-toggler.active span:last-child {
	transform: rotate(45deg);
	background: rgb(214, 48, 49);
}

.navbar-toggler.active span:nth-child(2) {
	opacity: 0;
}

.dropdown .dropdown-menu a{
	color: rgb(0, 0, 0) !important;
}
.dropdown:hover>.dropdown-menu {
	display: block;
}
.navbar {
	transition: 0.4s;
	padding: 1rem 1rem;
	min-height: 12vh;
}
.navbar a {
	color: rgb(255, 255, 255);
}

.navbar .navbar-nav a:hover {
	color: rgb(214, 48, 49);
	font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link {
	display: inline-block;
	padding: 0 15px;
	font-size: 14px;
	font-family: montserrat;
	font-weight: 700;
}

.navbar-nav .btn {
	color: rgb(255, 255, 255) !important;
	background: rgb(214, 48, 49);
	border-radius: 0;
	border: none;
	padding: 5px 20px;
	transition: 0.2s;
}

.navbar-nav .btn:hover {
	background: rgb(24, 24, 24);
	font-weight: 600;
	letter-spacing: 1px;
}

.fa-shopping-bag:hover {
	transform: scale(1.5);
	transition: 0.2s;
}
/* scroll */

.scrollbar a {
	color: rgb(10, 10, 10) !important;
}
.scrollbar a:hover {
	color: rgb(214, 48, 49) !important;
}


/*---------------------------------------
    footer              
-----------------------------------------*/

#footer {
	background: linear-gradient(to left,#0797FF,#4F95FF);
	padding: 20px 2px;
	color: #6d6d6d;
	font-size: 12px;
	text-align: center;
}

#footer .glassmorph{
	background: rgb(255, 255, 255);
	border-radius: 10px;
	margin-top: 80px;
	margin: 0 30px;
}

footer .section-title {
	padding-bottom: 10px;
}

footer h2 {
	font-size: 20px;
}

footer a,
footer p {
	color: #000000;
}

footer strong {
	color: #d9d9d9;
}

footer address p {
	margin-bottom: 0;
}

.footer-info,
footer .social-icon {
	margin-top: 20px;
	padding-bottom: 20px !important;
}
.footer-open-hour h2 {
	color: #ffffff;
}

.footer-open-hour p {
	color: #ffffff;
}

.footer-open-hour strong {
	color: #f9f9f9;
}

.footer-open-hour {
	background: #ce3232;
	background: url("/images/footer_image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	margin-top: 0;
	padding: 4px 0 4px 8px;
	overflow: hidden;
	position: relative;
	z-index: 22;
	right: 20px;
}

.footer-open-hour::after {
	background: rgba(29, 29, 29, 0.85);
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2222;
}

.copyright-text p{
	font-size: 12px;
	color: rgb(0, 0, 0) !important;
}
.social-icon{
	font-size: 13px;
}

/*---------------------------------------
    Responsive              
-----------------------------------------*/
@media (max-width: 768px) {
	.navbar .navbar-nav {
		align-items: center;
	}
	.navbar-toggler {
		color: rgb(155, 137, 137);
	}
	.navbar .navbar-nav .nav-link {
		padding: 8px 0;
	}
	.navbar .navbarright .nav-link {
		padding: 15px;
	}
	.navbar {
		background: white;
	}
	.navbar a {
		color: rgb(19, 19, 19);
	}
	.menu_itm .col-md {
		padding-left: 3em;
	}
}


/*---------------------------------------
    Home              
-----------------------------------------*/

#home:hover {
	cursor: url(https://cdn.custom-cursor.com/db/6623/32/food-and-drinks-lasagna-pointer.png) , pointer!important
}

.caption {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	height: 100%;
	padding: 4em 0 0 2em;
}

.item h3,
.item h1,
.item a {
	color: rgb(255, 255, 255);
	font-weight: 500;
}
.item h3 {
	font-size: 1em;
}
.item h1 {
	font-size: 2em;
}
.item a {
	background: rgb(214, 48, 49);
	font-weight: 400;
	font-family: Montserrat;
	font-size: 0.8em;
}
.item a:hover {
	background: rgb(24, 24, 24);
	font-weight: 700;
	transform: scale(1.2);
	transition: 0.2s;
	border: 1px solid rgb(214, 48, 49);
}

.item-first,
.item-second,
.item-third {
	width: 100%;
	height: 540px;
	background-size: cover;
	background-repeat: no-repeat;
}

.item-first {
	background-image: url(../images/slider-image1.jpg);
}

.item-second {
	background-image: url(../images/slider-image2.jpg);
}

.item-third {
	background-image: url(../images/slider-image3.jpg);
}

.overlay {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	position: absolute;
}


/*---------------------------------------
    about              
-----------------------------------------*/
#about{
	margin: 6rem 0;
	
}
#about .container{
	
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	border-radius: 10px;
}
.about-title h1 {
	color: rgb(253, 136, 27);
}
.about-title h1:last-child {
	color: rgb(10, 10, 10);
}
.about-info {
	padding: 0 0 5em 0;
}
.about-image img {
	width: 350px;
	height: 350px;
	left: 50%;
	transition: 1s;
	animation: zoom 5s infinite;
}
@keyframes zoom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

/*---------------------------------------
    menu              
-----------------------------------------*/
.menu_title span {
	width: 40px;
	height: 3px;
	background: rgb(248, 158, 23);
	display: inline-block;
	top: 50%;
	position: relative;
}

.menu_title h1 {
	font-weight: 600;
	font-size: 24px;
}

.menu_itm .card {
	position: relative;
	height: 250px;
	width: 340px;
	display: block;
	background: black;
	border: none;
	border-radius: 0;
	padding-bottom: 5rem;
}

.menu_itm .image {
	background: black;
	height: 250px;
	overflow: hidden;
	image-rendering: auto;
}

.menu_itm .image img {
	height: 100%;
	width: 100%;
	transition: 0.3s;
}

.card:hover .image img {
	cursor: pointer;
	opacity: 0.6;
	transform: scale(1.2);
}

.card .menucontent {
	width: 100%;
	background: rgba(24, 24, 24, 0.781);
	padding: 5px 30px;
	position: relative;
	transform: translateY(-100%);
}

.card .menucontent .title {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1.5px;
	color: rgb(248, 158, 23);
}
.card .menucontent .bottom .btn {
	padding: 7px 20px;
	letter-spacing: 1.5px;
	background: rgb(214, 48, 49);
	border: none;
	border-radius: 0;
	transition: 0.2s ease;
}
.card .menucontent .bottom .btn:hover {
	background: rgb(248, 158, 23);
	transform: scale(1.1);
}
.card .menucontent:hover {
	opacity: 1;
}

.menubtn .btn {
	margin-top: 5em;
	border: 1px solid rgb(248, 158, 23);
	padding: 1em 1.5em;
	border-radius: 50px;
	font-weight: 600;
	letter-spacing: 1.5px;
	transition: 0.3s;
}
.menubtn .btn:hover {
	background: rgb(248, 158, 23);
	transform: scale(1.1);
	color: rgb(255, 255, 255);
	letter-spacing: 1.8px;
	box-shadow: 1px 8px 17px -5px rgba(0, 0, 0, 0.53);
}

/*---------------------------------------
    testimonial              
-----------------------------------------*/

#testimonial {
	width: 100%;
	height: 40vh;
	background: url(/images/relex.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}
#testimonial .container {
	margin-top: 2em;
}

#testimonial .container p {
	color: rgb(233, 75, 75);
	font-weight: 400;
}
#testimonial .container span {
	color: white;
	font-weight: 600;
}
#testimonial .testimonial_slider .medium-color {
	color: rgba(223, 223, 223, 0.89) !important;
}
#testimonial .testimonial_slider .medium-text {
	color: rgba(223, 223, 223, 0.89) !important;
	font-weight: 300;
	font-size: 11px;
}
#testimonial:after {
	background: rgba(0, 0, 0, 0.5);
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*---------------------------------------
    contact              
-----------------------------------------*/

#contact {
	padding: 5em 0;
}
.contact_title h2 {
	align-items: center;
	display: inline;
	letter-spacing: 1px;
	font-weight: 200;
	font-family: Montserrat;
}
.cform {
	padding: 0 10em;
}

.cform input,
.cform textarea {
	border: 0;
	border-bottom: 2px solid black;
	border-radius: 0;
}
.cform input:hover,
.cform textarea:hover {
	transition: 0.3s;
	transform: scale(1.1);
}
.cform .submit-btn {
	background: black;
	color: rgb(255, 255, 255);
	padding: 0.8em 1.5em;
	transition: 0.3s;
}
.msg {
	transition: 0.3s;
}

.cform .submit-btn:hover {
	transition: 0.3s;
	transform: scale(1.1);
	letter-spacing: 1px;
	border: 1px solid black;
	background: transparent;
	color: black;
	padding: 0.8em 1.5em;
}
input:active {
	outline: none !important;
	border: 0 none;
}
.form-control:focus{
	box-shadow: none;
}

@media(max-width:768px){
	.cform {
		padding: 0 1em;
	}
}