@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,300&display=swap");

body {
	background: url(/images/header_top.svg);
	background-size: cover;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	font-family: "poppins";
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	
}

a {
	text-decoration: none;
	color: rgb(24, 24, 24);
	font-weight: 500;
	transition: 0.2s;
}

a:hover {
	color: rgb(214, 48, 49);
}

/*---------------------------------------
    Header              
-----------------------------------------*/

.navbar-toggler:focus {
	outline: none;
}

.navbar-brand {
	font-weight: 700;
	display: block;
	text-decoration: none;
}

#header .navbar-brand span {
	color: rgb(214, 48, 49);
}

ul {
	list-style-type: none;
}

.navbar-toggler span {
	background: rgb(10, 10, 10);
	width: 30px;
	height: 3px;
	display: flex;
	transition: 0.5s all cubic-bezier(0.23, 1.23, 0.59, 1.32);
}

.navbar-toggler span:first-child {
	transform: translateY(-5px);
}
.navbar-toggler.active span:first-child {
	transform: rotate(-45deg);
	background: rgb(214, 48, 49);
}

.navbar-toggler span:last-child {
	transform: translateY(5px);
}
.navbar-toggler.active span:last-child {
	transform: rotate(45deg);
	background: rgb(214, 48, 49);
}

.navbar-toggler.active span:nth-child(2) {
	opacity: 0;
}

.navbar {
	transition: 0.4s;
	padding: 1rem 1rem;
	min-height: 12vh;
}
.navbar a {
	color: rgb(255, 255, 255);
}

.navbar .navbar-nav a:hover {
	color: rgb(214, 48, 49);
	font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link {
	display: inline-block;
	padding: 0 15px;
	font-size: 14px;
	font-family: montserrat;
	font-weight: 700;
}

.navbar-nav .btn {
	color: rgb(255, 255, 255) !important;
	background: rgb(214, 48, 49);
	border-radius: 0;
	border: none;
	padding: 5px 20px;
	transition: 0.2s;
}

.navbar-nav .btn:hover {
	background: rgb(24, 24, 24);
	font-weight: 600;
	letter-spacing: 1px;
}

.fa-shopping-bag:hover {
	transform: scale(1.5);
	transition: 0.2s;
}
/* scroll */

.scrollbar a {
	color: rgb(10, 10, 10) !important;
}
.scrollbar a:hover {
	color: rgb(214, 48, 49) !important;
}

/*---------------------------------------
    footer              
-----------------------------------------*/

footer {
	background: linear-gradient(to left,#0797FF,#4F95FF);
	padding: 20px 2px;
	color: #6d6d6d;
	font-size: 12px;
	text-align: center;
}

#footer .glassmorph{
	background: rgb(255, 255, 255);
	border-radius: 10px;
	margin-top: 80px;
	margin: 0 30px;
}

footer .section-title {
	padding-bottom: 10px;
}

footer h2 {
	font-size: 20px;
}

footer a,
footer p {
	color: #000000;
}

footer strong {
	color: #d9d9d9;
}

footer address p {
	margin-bottom: 0;
}

.footer-info,
footer .social-icon {
	margin-top: 20px;
	padding-bottom: 20px !important;
}
.footer-open-hour h2 {
	color: #ffffff;
}

.footer-open-hour p {
	color: #ffffff;
}

.footer-open-hour strong {
	color: #f9f9f9;
}

.footer-open-hour {
	background: #ce3232;
	background: url("/images/footer_image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	margin-top: 0;
	padding: 4px 0 4px 8px;
	overflow: hidden;
	position: relative;
	z-index: 22;
	right: 20px;
}

.footer-open-hour::after {
	background: rgba(29, 29, 29, 0.85);
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2222;
}

.copyright-text p{
	font-size: 12px;
	color: rgb(0, 0, 0) !important;
}
.social-icon{
	font-size: 13px;
}


/*---------------------------------------
    orders   tab          
-----------------------------------------*/

#navtabs .nav-item .active{
	border-bottom: 2px solid #0797FF;
	transition: .5s;
}


/*---------------------------------------
    orders  table            
-----------------------------------------*/
.orders_page{
	width: 100%;
	height: 100vh;
	margin-top:  80px;
	margin-bottom: 80px;
}
table{
	border-radius: 10px 10px 0 0;
	border: none !important;
	
}
th{
	border-bottom: 1px solid rgba(80, 80, 80, 0.3) !important;
	font-weight: 500 !important;
	color: rgb(0, 0, 0);
	min-width: 50px;
}
table tr td{
	border: none !important;
	padding: 15px  0 !important;
	background: transparent !important;
}
table .odd{
	background: none !important;
}
table tbody tr:hover{
	background: rgb(221, 221, 221) !important;
}

/*---------------------------------------
    account              
-----------------------------------------*/
.manageac{
	margin-bottom: 50em;
}
.he{
	position: relative;
}
/*---------------------------------------
    setting              
-----------------------------------------*/
/*---------------------------------------
    Responsive              
-----------------------------------------*/
@media (max-width: 768px) {
	
	.navbar .navbar-nav {
		align-items: center;
	}
	.navbar-toggler {
		color: rgb(155, 137, 137);
	}
	.navbar .navbar-nav .nav-link {
		padding: 8px 0;
	}
	.navbar .navbarright .nav-link {
		padding: 15px;
	}
	.navbar {
		background: white;
		-webkit-box-shadow: 0px 5px 33px -6px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 5px 33px -6px rgba(0,0,0,0.3);
		box-shadow: 0px 5px 33px -6px rgba(0,0,0,0.3);
	}
	.navbar a {
		color: rgb(19, 19, 19);
	}
}
