@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,300&display=swap");
/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e8e8e8;
  border: 15px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #f76a6a;
}
::-webkit-scrollbar-track {
  background: #ff8585;
  border: 15px none #ffffff;
  border-radius: 58px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

body {
	background: linear-gradient(45deg, #FC466B, #3F5EFB);
	font-family: "poppins"!important;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
 

/*---------------------------------------
    Header              
-----------------------------------------*/
.navbar-toggler:focus {
	outline: none;
}

.navbar-brand {
	font-weight: 700;
	display: block;
	text-decoration: none;
}

#header .navbar-brand span {
	color: rgb(214, 48, 49);
}

ul {
	list-style-type: none;
}

.navbar-toggler span {
	background: rgb(10, 10, 10);
	width: 30px;
	height: 3px;
	display: flex;
	transition: 0.5s all cubic-bezier(0.23, 1.23, 0.59, 1.32);
}

.navbar-toggler span:first-child {
	transform: translateY(-5px);
}
.navbar-toggler.active span:first-child {
	transform: rotate(-45deg);
	background: rgb(214, 48, 49);
}

.navbar-toggler span:last-child {
	transform: translateY(5px);
}
.navbar-toggler.active span:last-child {
	transform: rotate(45deg);
	background: rgb(214, 48, 49);
}

.navbar-toggler.active span:nth-child(2) {
	opacity: 0;
}

.dropdown .dropdown-menu a{
	color: rgb(0, 0, 0) !important;
}



.navbar {
	transition: 0.4s;
	padding: 1rem 1rem;
	min-height: 12vh;
}
.navbar a {
	color: rgb(255, 255, 255);
}

.navbar .navbar-nav a:hover {
	color: rgb(214, 48, 49);
  font-weight: 700;
  transition: .2s;
  font-family: montserrat;
}

.navbar-expand-lg .navbar-nav .nav-link {
	display: inline-block;
	padding: 0 15px;
	font-size: 14px;
	font-family: montserrat;
	font-weight: 700;
}

.navbar-nav .btn {
	color: rgb(255, 255, 255) !important;
	background: rgb(214, 48, 49);
	border-radius: 0;
	border: none;
	padding: 5px 20px;
	transition: 0.2s;
}

.navbar-nav .btn:hover {
	background: rgb(24, 24, 24);
	font-weight: 600;
	letter-spacing: 1px;
}

.fa-shopping-bag:hover {
	transform: scale(1.5);
	transition: 0.2s;
}
/* scroll */

.scrollbar a {
	color: rgb(10, 10, 10) !important;
}
.scrollbar a:hover {
	color: rgb(214, 48, 49) !important;
}


/*---------------------------------------
    footer              
-----------------------------------------*/

#footer {
	background: linear-gradient(to left,#0797FF,#4F95FF);
	padding: 20px 2px;
	color: #6d6d6d;
	font-size: 12px;
	text-align: center;
}

#footer .glassmorph{
	background: rgb(255, 255, 255);
	border-radius: 10px;
	margin-top: 80px;
	margin: 0 30px;
}

footer .section-title {
	padding-bottom: 10px;
}

footer h2 {
	font-size: 20px;
}

footer a,
footer p {
	color: #000000;
}

footer strong {
	color: #d9d9d9;
}

footer address p {
	margin-bottom: 0;
}

.footer-info,
footer .social-icon {
	margin-top: 20px;
	padding-bottom: 20px !important;
}
.footer-open-hour h2 {
	color: #ffffff;
}

.footer-open-hour p {
	color: #ffffff;
}

.footer-open-hour strong {
	color: #f9f9f9;
}

.footer-open-hour {
	background: #ce3232;
	background: url("/images/footer_image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	margin-top: 0;
	padding: 4px 0 4px 8px;
	overflow: hidden;
	position: relative;
	z-index: 22;
	right: 20px;
}

.footer-open-hour::after {
	background: rgba(29, 29, 29, 0.85);
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2222;
}

.copyright-text p{
	font-size: 12px;
	color: rgb(0, 0, 0) !important;
}
.social-icon{
	font-size: 13px;
}


/* @extend display-flex; */

display-flex, .display-flex, .display-flex-center {
    display: flex;
    display: -webkit-flex;
  }
  
  /* @extend list-type-ulli; */
  
  list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Paprika');
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
  /* Montserrat-300 - latin */
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/montserrat/Montserrat-Light.ttf");
    /* IE9 Compat Modes */
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/montserrat/Montserrat-Regular.ttf");
    /* IE9 Compat Modes */
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/montserrat/Montserrat-Italic.ttf");
    /* IE9 Compat Modes */
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/montserrat/Montserrat-Medium.ttf");
    /* IE9 Compat Modes */
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/montserrat/Montserrat-SemiBold.ttf");
    /* IE9 Compat Modes */
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/montserrat/Montserrat-Bold.ttf");
    /* IE9 Compat Modes */
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/montserrat/Montserrat-BoldItalic.ttf");
    /* IE9 Compat Modes */
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/montserrat/montserrat-v12-latin-900.ttf"), url("/fonts/montserrat/montserrat-v12-latin-900.eot") format("embedded-opentype"), url("/fonts/montserrat/montserrat-v12-latin-900.svg") format("woff2"), url("/fonts/montserrat/montserrat-v12-latin-900.woff") format("woff"), url("/fonts/montserrat/montserrat-v12-latin-900.woff2") format("truetype");
  }
  
  a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
  }
  
  input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important;
  }
  
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0;
  }
  
  input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
  }
  
  input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
  }
  
  input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  figure {
    margin: 0;
  }
  
  p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777;
  }
  
  h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #222;
    font-family: 'Montserrat';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .clear {
    clear: both;
  }
  
  body {
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: 'Montserrat';
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    padding: 0 0;
  }
  
  .container {
    width: 660px;
    position: relative;
    margin: 80px auto;
  }
  
  .display-flex {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
  }
  
  .display-flex-center {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
  }
  
  .position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .signup-content {
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 50px 85px;
    margin-top: 110px;
  }
  
  .form-group {
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222;
  }
  
  .form-input::-webkit-input-placeholder {
    color: #999;
  }
  
  .form-input::-moz-placeholder {
    color: #999;
  }
  
  .form-input:-ms-input-placeholder {
    color: #999;
  }
  
  .form-input:-moz-placeholder {
    color: #999;
  }
  
  .form-input::-webkit-input-placeholder {
    font-weight: 500;
  }
  
  .form-input::-moz-placeholder {
    font-weight: 500;
  }
  
  .form-input:-ms-input-placeholder {
    font-weight: 500;
  }
  
  .form-input:-moz-placeholder {
    font-weight: 500;
  }
  
  .form-input:focus {
    border: 1px solid transparent;
    -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
    -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
    -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
    border-image-source: linear-gradient(to right, #9face6, #74ebd5);
    -webkit-border-image-slice: 1;
    border-image-slice: 1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  .form-input:focus::-webkit-input-placeholder {
    color: #222;
  }
  
  .form-input:focus::-moz-placeholder {
    color: #222;
  }
  
  .form-input:focus:-ms-input-placeholder {
    color: #222;
  }
  
  .form-input:focus:-moz-placeholder {
    color: #222;
  }
  
  .form-submit {
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
    background-image: linear-gradient(to left, #74ebd5, #9face6);
  }
  
  /* Ripple effect */
  
  .form-submit:hover:before {
    animation: ripple 1s ease;
  }
  
  .form-submit:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    transform: scale(0);
  }
  
  @keyframes ripple {
    from {
      transform: scale(0);
      opacity: 0.5;
    }
    to {
      transform: scale(3);
      opacity: 0;
    }
  }
  
  /* Button style */
  
  button {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    box-shadow: 0 0 4px rgb(255, 253, 253);
    outline: none;
  }
  
  input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none;
  }
  
  input[type=checkbox]:not(old)+label {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 25px;
  }
  
  input[type=checkbox]:not(old)+label>span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: white;
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    vertical-align: bottom;
  }
  
  input[type=checkbox]:not(old):checked+label>span {
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
  }
  
  input[type=checkbox]:not(old):checked+label>span:before {
    content: '\f26b';
    display: block;
    color: #222;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: bold;
  }
  
  .label-agree-term {
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 57, 57);
  }
  
  .term-service {
    color: #555;
  }
  
  .loginhere {
    color: #555;
    font-weight: 500;
    text-align: center;
    margin-top: 91px;
    margin-bottom: 5px;
  }
  
  .loginhere-link {
    font-weight: 500;
    color: #222;
    font-family: poppins;
  }
  #loginlink{
  color:#2196f3 !important;
  font-size: 14px !important;
  font-family: poppins;
  letter-spacing: .5px;
  }

  #phperror{
  color: red;
  font-size: 14px !important;
  font-family: poppins;
  letter-spacing: .5px;
  text-align: center;
  }
  
  .field-icon {
    float: right;
    margin-right: 17px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
    color: #555;
  }
  
  .logo-head {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      width: calc(100% - 40px);
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .signup-content {
      padding: 50px 25px;
    }
  }
  
  /*# sourceMappingURL=style.css.map */


/*---------------------------------------
    Responsive              
-----------------------------------------*/
@media (max-width: 768px) {
	
	.navbar .navbar-nav {
		align-items: center;
	}
	.navbar-toggler {
		color: rgb(155, 137, 137);
	}
	.navbar .navbar-nav .nav-link {
		padding: 8px 0;
	}
	.navbar .navbarright .nav-link {
		padding: 15px;
	}
	.navbar {
		background: white;
	}
	.navbar a {
		color: rgb(19, 19, 19);
	}
}