.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/rumman-amin-k-gWRgrU2N8-unsplash.jpg");
  background-position: 50% 50%;
  min-height: 1397px;
}

.u-section-1 .u-group-1 {
  min-height: 1397px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#292d33, rgba(20,122,236,0.43));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 1139px;
  min-height: 848px;
  background-image: linear-gradient(#ffffff, rgba(255,255,255,0.86));
  margin: 265px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 4.5rem;
  font-weight: 200;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-weight: 300;
  margin: 35px auto 0 481px;
}

.u-section-1 .u-form-1 {
  height: 327px;
  width: 650px;
  margin: 15px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-family: Poppins;
  font-weight: normal;
  text-transform: none;
  padding: 18px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1152px;
  }

  .u-section-1 .u-group-2 {
    width: 880px;
    margin-top: 202px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-left: 366px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 882px;
  }

  .u-section-1 .u-group-2 {
    width: 660px;
    margin-top: 140px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 268px;
  }

  .u-section-1 .u-form-1 {
    width: 600px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 662px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.375rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 223px;
  }

  .u-section-1 .u-form-1 {
    width: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1070px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1070px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 120px;
  }

  .u-section-1 .u-group-2 {
    min-height: 403px;
    margin-top: 150px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 198px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 184px;
  }

  .u-section-1 .u-form-1 {
    height: 245px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}