body{
    background-image: url('/images/loginimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.cart{
    width: 100%;
    height: 100vh;
    position: relative;
}#a
{
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}
