*:focus {
    outline: none;
}

.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/rumman-amin-k-gWRgrU2N8-unsplash.jpg");
    background-position: 50% 50%;
    min-height: 1397px;
}

.u-section-1 .u-group-1 {
    min-height: 1397px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(#292d33, rgba(20,122,236,0.43));
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-group-2 {
    width: 1139px;
    min-height: 848px;
    background-image: linear-gradient(#ffffff, rgba(255,255,255,0.86));
    margin: 265px auto 0;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-text-1 {
    font-family: Poppins;
    font-size: 4.5rem;
    font-weight: 200;
    text-align: center;
    margin: 80px auto 0;
}

.u-section-1 .u-text-2 {
    font-family: Poppins;
    font-weight: 300;
    margin: 35px auto 0;
}

.u-section-1 .u-form-1 {
    height: 327px;
    width: 650px;
    margin: 36px auto 0;
}

.u-section-1 .u-form-group-1 {
    margin-left: 0;
}

.u-section-1 .u-input-1 {
    font-family: Poppins;
    font-weight: 300;
    background-image: none;
}

.u-section-1 .u-form-group-2 {
    margin-left: 0;
}

.u-section-1 .u-input-2 {
    font-family: Poppins;
    font-weight: 300;
    background-image: none;
}

.u-section-1 .u-form-group-3 {
    margin-left: 0;
}

.u-section-1 .u-input-3 {
    font-family: Poppins;
    font-weight: 300;
    background-image: none;
}

.u-section-1 .u-form-group-4 {
    margin-left: 0;
}

.u-section-1 .u-input-4 {
    font-family: Poppins;
    font-weight: 300;
    background-image: none;
}

.u-section-1 .u-form-group-5 {
    margin-left: 0;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    letter-spacing: 1px;
    background-image: none;
    font-family: Poppins;
    font-weight: normal;
    text-transform: none;
    padding: 18px 50px;
    transition: 0.3s;
    border: orchid 1px solid;
}

.u-section-1 .u-text-3 {
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 500;
    margin: 13px auto 0;
}

.u-section-1 .u-btn-2 {
    padding: 0;
}

#terms{
 color: rgb(255, 94, 0);
}

@media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
        min-height: 250px;
    }

    .u-section-1 .u-group-2 {
        width: 880px;
        margin-top: 150px;
        margin-bottom: 50px;
    }

    .u-section-1 .u-text-1 {
        margin-top: 65px;
        text-align: center;
        /* margin-left: 269px;
    margin-right: 289px; */
    }

    .u-section-1 .u-text-3 {
        width: auto;
        margin-top: 35px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-group-2 {
        width: 660px;
        margin-bottom: 100px;
    }

    .u-section-1 .u-text-1 {
        width: 262px;
        text-align: center;
        margin-top: 61px;
        /* margin-left: 159px;
    margin-right: 179px; */
    }

    .u-section-1 .u-text-2 {
        width: auto;
        margin-top: 12px;
    }

    .u-section-1 .u-form-1 {
        height: 464px;
        margin-top: 42px;
        margin-right: -12px;
        margin-left: 12px;
        width: 600px;
    }

    .u-section-1 .u-text-3 {
        margin-top: 50px;
        margin-right: 259px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-group-2 {
        width: 520px;
        margin-bottom: 0;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-text-1 {
        width: auto;
        margin-top: 31px;
        text-align: center;
        /* margin-right: 127px;
    margin-left: 112px; */
    }

    .u-section-1 .u-text-2 {
        margin-top: 21px;
        margin-left: 110px;
    }

    .u-section-1 .u-form-1 {
        margin-top: 28px;
        margin-right: -10px;
        margin-left: 10px;
        width: 500px;
    }

    .u-section-1 .u-text-3 {
        margin-top: 71px;
        margin-right: 211px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-group-1 {
        min-height: 1173px;
    }

    .u-section-1 .u-group-2 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-text-1 {
        font-size: 1.5rem;
        width: 88px;
        text-align: center;
        /* margin-top: 72px;
    margin-left: 12px;
    margin-right: 27px; */
    }

    .u-section-1 .u-text-2 {
        margin-left: 66px;
    }

    .u-section-1 .u-form-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-text-3 {
        margin-top: 28px;
        margin-right: 126px;
        margin-left: 165px;
    }
}
